.topbar__df{
    width: 100%;
}

.topbar__flag--df{
    display: flex;
    justify-content: space-between;
}

.slider__hd{
    height: auto !important;
}

.footer__business--df{
    display: flex;
    justify-content: center;
}

@media (max-width: 769px) {
    .mobile__df{
        height: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu__flag--mobile{
        margin-bottom: 0;
    }
}