.topbar__df{
    width: 100%;
}

.topbar__flag--df{
    display: flex;
    justify-content: space-between;
}

.slider__hd{
    height: auto !important;
}

.footer__business--df{
    display: flex;
    justify-content: center;
}

.pages__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    background-color: #3e3c3d;
}

.pages__title--size{
    font-size: 2.9rem;
    color: #bca869;
}

@media (max-width: 769px) {
    .mobile__df{
        height: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu__flag--mobile{
        margin-bottom: 0;
    }
}